In [1]:
import pymysql

In [2]:
import pymysql.cursors
# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='34006503'
                            )

#From our connection we need a cursor, which acts as our interface into the database
cur = connection.cursor()

In [3]:
print(connection)

<pymysql.connections.Connection object at 0x7fad6553bb20>

In [29]:
cur.execute("CREATE DATABASE ZomatoDB")

1

In [4]:
cur.execute('SHOW DATABASES')
for db in cur:
    print(db)

('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('testdb',)
('ZomatoDB',)

In [5]:
# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='34006503',
                            database='ZomatoDB')

#From our connection we need a cursor, which acts as our interface into the database
cur = connection.cursor()

### Our database designed to store information in RESTAURANTS, CUISINES, EVALUATION, and RATING table.

In [69]:
# Create main table that contains all dataset
# Coordinates will be added separately for the moment
make_main_table = """CREATE TABLE main_table(
                        Restaurant_ID INT NOT NULL,
                        Restaurant_Name VARCHAR(255),
                        Country_Code INT,
                        City VARCHAR(255),
                        Address VARCHAR(255),
                        Locality VARCHAR(255),
                        Cuisine VARCHAR(255),
                        Average_Cost_for_two INT,
                        Currency VARCHAR(255),
                        Table_booking BOOL,
                        Online_delivery BOOL,
                        Now_delivering BOOL,
                        Switch_menu BOOL,
                        Price_range INT,
                        Aggregate_rating FLOAT,
                        Rating_color VARCHAR(255),
                        Rating_text VARCHAR(255),
                        Votes VARCHAR(255),
                        Average_cost_USD INT);"""
                            
cur.execute(make_main_table)
connection.commit()

In [35]:
make_cuisines_table = """CREATE TABLE cuisines(
                            Cuisine_type VARCHAR(255),
                            Restaurant_ID INT,
                            Coordinates POINT,
                            PRIMARY KEY (Restaurant_ID),
                            FOREIGN KEY (Restaurant_ID)
                                REFERENCES maint_table(Restaurant_ID));
                            """
#cur.execute(make_cuisines_table)
#connection.commit()

In [66]:
make_evaluation_table = """CREATE TABLE evaluation(
                                Table_booking BOOL,
                                Oneline_delivery BOOL,
                                Now_delivering BOOL,
                                Switch_menu BOOL,
                                Price_range INT,
                                Restaurant_ID INT);"""
cur.execute(make_evaluation_table)
connection.commit()

In [67]:
# correct rating -> Aggregate rating
make_rating_table = """CREATE TABLE ratings(
                            Rating FLOAT, 
                            Rating_color VARCHAR(255),
                            Rating_text VARCHAR(255),
                            Votes VARCHAR(255),
                            Restaurant_ID INT);"""

cur.execute(make_rating_table)
connection.commit()

In [70]:
cur.execute('SHOW TABLES')
for tb in cur:
    print(tb)

('evaluation',)
('main_table',)
('ratings',)

In [13]:
import pandas as pd
import numpy as np

zomato_dataframe = pd.read_csv('cleaned_zomato.csv')

In [14]:
zomato_dataframe.drop('Unnamed: 0', axis=1, inplace=True)
zomato_dataframe.head(3)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes,Average cost USD,geometry
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City",French,1100,Botswana Pula(P),Yes,No,No,No,3.0,4.8,Dark Green,Excellent,314.0,100.1,POINT (121.027535 14.565443)
1,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City",Japanese,1100,Botswana Pula(P),Yes,No,No,No,3.0,4.8,Dark Green,Excellent,314.0,100.1,POINT (121.027535 14.565443)
2,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City",Desserts,1100,Botswana Pula(P),Yes,No,No,No,3.0,4.8,Dark Green,Excellent,314.0,100.1,POINT (121.027535 14.565443)

In [37]:
d = {'Yes': True, 'No':False}
zomato_dataframe['Has Table booking'] = zomato_dataframe['Has Table booking'].map(d)
zomato_dataframe['Has Online delivery'] = zomato_dataframe['Has Online delivery'].map(d)
zomato_dataframe['Is delivering now'] = zomato_dataframe['Is delivering now'].map(d)
zomato_dataframe['Switch to order menu'] = zomato_dataframe['Switch to order menu'].map(d)

In [41]:
zomato_dataframe.dropna(inplace=True)
zomato_dataframe.shape

(19708, 20)

In [53]:
zomato_dataframe['Restaurant ID'] = zomato_dataframe['Restaurant ID'].astype(int)

In [54]:
zomato_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19708 entries, 0 to 19711
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         19708 non-null  int64
 1   Restaurant Name       19708 non-null  object
 2   Country Code          19708 non-null  int64
 3   City                  19708 non-null  object
 4   Address               19708 non-null  object
 5   Locality              19708 non-null  object
 6   Cuisines              19708 non-null  object
 7   Average Cost for two  19708 non-null  object
 8   Currency              19708 non-null  object
 9   Has Table booking     19708 non-null  bool
 10  Has Online delivery   19708 non-null  bool
 11  Is delivering now     19708 non-null  bool
 12  Switch to order menu  19708 non-null  bool
 13  Price range           19708 non-null  float64
 14  Aggregate rating      19708 non-null  object
 15  Rating color          19708 non-null  object
 16  Rating text           19708 non-null  object
 17  Votes                 19708 non-null  float64
 18  Average cost USD      19708 non-null  float64
 19  geometry              19708 non-null  object
dtypes: bool(4), float64(3), int64(2), object(11)
memory usage: 3.1+ MB

In [55]:
subset = zomato_dataframe[zomato_dataframe.drop('geometry',axis=1).columns]
tuples = [tuple(x) for x in subset.to_numpy()]

In [71]:
sqlFormula = """INSERT INTO main_table 
                    (
                    Restaurant_ID,
                    Restaurant_Name,
                    Country_Code,
                    City,
                    Address,
                    Locality,
                    Cuisine,
                    Average_Cost_for_two,
                    Currency,
                    Table_booking,
                    Online_delivery,
                    Now_delivering,
                    Switch_menu,
                    Price_range,
                    Aggregate_rating,
                    Rating_color,
                    Rating_text,
                    Votes,
                    Average_cost_USD
                    ) 
                    VALUES (
                    %s, %s, %s, %s, %s, %s, 
                    %s, %s, %s, %s, %s, %s, 
                    %s, %s, %s, %s, %s, %s, %s
                    );""" #%s placeholders

In [72]:
cur.executemany(sqlFormula, tuples)
connection.commit()